@font-face {
  font-family: Condor;
  src: url("../fonts/fonnts.com-Condor_Medium.otf");

}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  width: 100%;
  background-color: #fdca95;
}

.container {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.logo {
  width: 120px;
  /*border: 1px solid green;*/
  position: relative;
  bottom: 30%;
  left: 60%;
}

header {
  background-color: #d15727;
  padding: 1rem;
  justify-content: center;
  /*border: 1px solid black;*/
  height: 140px;
}

nav {
  width: 30%;
  margin-left: auto;
  margin-right: 0;


  /*border: 1px solid yellow;*/
  padding: 20px;
  font-family: Condor;

}

nav a {
  font-size: 1.1rem;
  color: white;
  text-align: center;
  text-decoration: none;

  flex: 1;
  padding: 15px 20px 0px 20px;

  transition: 0.2s;

}

nav a:hover {
  background-color: #f9f4dc;
  color: #d15727;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 15px;
}

.sign {
  position: relative;
  bottom: 30%;
  right: 3.5%;
  padding-right: 30px;
}

body {
    font-family: Condor;
    padding: 0;
    margin: auto;
}

article {
  margin: 40px;
  /*border: 1px solid green;*/
}

h2 {
  color: #d15727;
  text-align: center;
  font-size: 5rem;
}

h3 {
  color: #d15727;
  text-align: center;
  font-size: 4rem;
}

.mySlides {
  display:none;
  width: 1358px;
  height: 600px;
}

.section1 {
  margin-bottom: 50px;
}

.section2 {
  padding: 1rem;
  justify-content: center;
  /*border: 1px solid yellow;*/
  font-size: 4rem;
  margin-bottom: 50px;
}

.section2 a{
  text-decoration: none;
  color: #d15727;
}

.food {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.food1 {
  grid-row: 1 ;
  grid-column: 1;
  background-color: #f9f4dc;
  color: white;
  border-radius: 1.5rem;
  padding: 50px;
}

.food2 {
  grid-row: 1 ;
  grid-column: 2;
  background-color:#f9f4dc;
  border-radius: 1.5rem;
  padding: 50px;
}

.items {
  display: inline-flex;
  padding: 80px;
  color: #d15727;
}

.bagel {
  width: 500px;
  position: relative;
  top: 75px;
  left: 6%;
}

.drink {
  width: 180px;
  position: relative;
  top: 45px;
  left: 36%;

}

.section3 {
  justify-content: center;
  /*border: 5px solid red;*/
  font-size: 4rem;
  color: #d15727;
 
}

.section3 a{
  text-decoration: none;
  color: #d15727;
}

.cup {
  width: 1358px;
  height: 800px;
}

/* footer */

footer { 
  background-color: #d15727;
  padding: 1rem;
  justify-content: center;
  /*border: 1px solid black;*/
  height: 120px;
  padding-top: 20px;
}

footer nav {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: none;
}

footer nav a{
  text-decoration: none;
  color: white;
  text-align: center;

  flex: 1;
  padding: 15px 20px 0px 20px;

  transition: 0.2s;
}

footer nav a:hover {
  background-color: #f9f4dc;
  color: #d15727;
  border-radius: 20px;
  padding-bottom: 15px;
}

.socials {
  margin-left: 43.5%;
  margin-right: 30%;

}

.socials img {
 /* border: 1px solid black;*/
  height: 25px;
  padding-top: 25px;
  padding-right: 30px;
  text-align: center;
}
  
