@charset "utf-8";
/*CSS Document*/

section {
  margin: auto;
  /*border: 1px solid purple;*/
}

/*section buttons*/
section a {
  font-family: Comfortaa, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: #82af69;
  padding: 15px 30px 15px 30px;
  transition: 0.2s;
}

section a:hover {
  background-color: #556f5b;
  color: #fbfbf3; 
}

/*section 1*/
.section1 {
  /*border: 2px solid #ff0001;*/
  display: flex;
  flex-direction: row;
  height: 550px;
}


.Caffeine {
  width: 50%;
  padding: 30px 30px 30px 50px;
}


.Ordinary {
  width: 50%;
  padding-top: 7%;
  padding-left: 10%;
  padding-right: 10%;

}

.Ordinary p {
  margin-top: 40px;
  margin-bottom: 50px;
}

/*Section 2*/
.section2 {
  background-color: #f6f7e7;
  background-image: url(../images/section2_bgsmall.jpg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  height: 560px;
  border-top: 5px solid #f4f4dd;
  border-bottom: 5px solid #f4f4dd;
}

.Ingredients {
  float: left;
  width: 50%;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 5%;
  /*border: 1px solid blue;*/
}

.Ingredients h2 {
  margin-top: 40px;
  margin-bottom: 50px;

}

/*Section 3*/
.section3 {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  height: 600px;
  /*border: 1px solid pink;*/
}

.section3 h1 {
  margin-top: 60px;
  margin-bottom: 40px;

}

.Flavors {
  /*container for the flavor divs*/
  display: flex;
  flex-flow: row wrap;

}

.Flavors>div {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.Flavors img {
  width: 175px;
  margin-top: 20px;
  filter: drop-shadow(5px 5px 10px #c2e0da);
  transition: 0.2s;
}

.Flavors img:hover {
  width: 200px;
}

.Flavors h3 {
  margin-top: 30px;
  margin-bottom: 40px;
}


/*Section 4*/
.section4 {
  background-color: #f6f7e7;
  justify-content: center;
  align-content: center;
  display: flex;
  height: 250px;
  border-top: 5px solid #f4f4dd;
  border-bottom: 5px solid #f4f4dd;
}

.retail {
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.retail h1 {
  margin-bottom: 30px;
}

.retail a {
  width: 200px;
  align-self: center;
}