@charset "utf-8";
/*CSS Document*/

/*Montserrat Regular for <p> and Bold for <b>*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');


@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa-SemiBold.ttf") format("truetype");
}


/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}


html {
  width: 100%;
  margin: auto;
  background-color: #fbfbf3;
}

body {
  margin: auto;
  /*border: 5px solid pink;*/
}

/*------------------- General text styles----------------------*/
h1 {
  font-family: Comfortaa, sans-serif;
  font-size: 3rem;
  letter-spacing: -1px;
  color: #e47800;
}

h2 {
  font-family: Comfortaa, sans-serif;
  font-size: 1.7rem;
  letter-spacing: -1px;
  color: #82af69;
}

h3 {
  font-family: Comfortaa, sans-serif;
  font-size: 1.3rem;
  color: #82af69;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 1.1rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

b {
  font-family: Montserrat, sans-serif;
  font-size: 1.1rem;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bolder;
}

/*-----------------------Persistent nav----------------------*/
header {
  position: sticky;
  top: 0;
  z-index: 1;
  /*above makes header sticky*/

  background-color: #fbfbf3;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px;

}

.logo {
  width: 150px;
  margin-left: 60px;
  margin-right: 30px;
  /*border: 1px solid green;*/
}

nav {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  /*the above makes container go to the right*/

  display: flex;
  flex-flow: row wrap;
  justify-content: right;

  height: 50px;
}

nav a {
  font-family: Comfortaa, sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: #82af69;

  flex: 1;
  padding: 15px 20px 0px 20px;

  transition: 0.2s;
  /*border: 1px solid blue;*/
}

nav a:hover {
  background-color: #556f5b;
  color: #fbfbf3;
}

/*----------Header: Pointy About Us nav link-------------*/
.trianglebutton {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.triangle {
  height: 0;
  width: 0;
  border-top: 25px solid #fbfbf3;
  border-bottom: 25px solid #fbfbf3;
  border-right: 30px solid #82af69;
  transition: 0.2s;
}

.trianglebutton:hover .triangle {
  border-right: 30px solid #556f5b;
}

.triangle:hover+.about {
  background-color: #556f5b;
  color: #fbfbf3;
}

.trianglebutton:hover a {
  background-color: #556f5b;
  color: #fbfbf3;
}

/*---------Header: General dropdown style----------*/
.dropmenu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
}

/*products*/
.dropdown1 {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 150px;
}

/*buy now*/
.dropdown2 {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100px;
}
.dropdown1 a {
  background-color: #f1fceb; /*#a7ce92 dee8e7 e3f7d8*/ 
}
.dropdown2 a {
  background-color: #f1fceb;
}

.dropmenu:hover .dropdown1 {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropmenu:hover .dropdown2 {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}



/*--------------------Footer styling----------------------*/
footer {
  background-color: #556f5b;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

.topfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border: 1px solid #5cffde;*/
}


footer ul {
  color: #fbfbf3;
  list-style: none;
  font-family: Montserrat, sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  /*border: 1px solid aliceblue;*/
}


footer li h6 {
  font-weight: 700;
}

footer ul li:first-of-type {
  height: 20px;
}

footer li a {
  text-decoration: none;
  color:#fbfbf3;
}
.Newsletter h1 {
  color: #fbfbf3;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Newsletter p {
  color: #fbfbf3;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;

  margin-bottom: 15px;
}

#email {
  padding: 5px;
}

#enter {
  background-color: #82af69;
  color: #fbfbf3;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  padding: 5px 20px 5px 20px;
  margin-left: 10px;
}

#enter:hover {
  background-color: #e47800;
}

hr {
  color: #fbfbf3;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bottomfooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.Socials img:first-of-type {
  height: 20px;
  margin-left: 0px;
  margin-right: 10px;
}

.Socials img {
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}


footer small {
  font-family: Montserrat, sans-serif;
  font-size: 0.8rem;
  color: #fbfbf3;
}