@charset "utf-8";
/*CSS Document*/

.active {
  background-color: #556f5b;
  color: #fbfbf3;
}

main {
  width: 75%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 75px;
}


main>div {
  display: flex;
  flex-direction: row;
}

/*main cereal image*/
.img {
  width: 45%;
}

.product {
  width: 100%;
  padding-right: 30px;
  /*border: 1px solid red;*/
}

article {
  width: 55%;
  padding-left: 30px;
}

h1 {
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 40px;
}

h3:hover {
  cursor: cell;
  color: #e47800;
}

article p {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 30px;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  /*border: 1px solid purple;*/
}

.breadcrumb a:first-of-type {
  text-decoration: none;
}

/*-------breadcrumb navigation on the left----------*/
.breadcrumb div:first-of-type {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.breadcrumb a {
  color: #000000;
  font-family: Montserrat, sans-serif;
  font-size: 0.9rem;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.8rem;
}

.breadcrumb div:first-of-type>p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}


/*------------------Cart------------------*/
.breadcrumb div:last-of-type {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  /*border: 1px solid pink;*/

}

.breadcrumb div:last-of-type>p {
  font-weight: bolder;
  line-height: 1.8rem;
  margin-right: 10px;
}

#cart {
  height: 30px;
}


/*------<article> elements-------*/
.nutrition {
  text-decoration: underline;
}

.hide {
  display: none;
}

.nutrition:hover+.hide {
  display: block;
}

.hide img {
  width: 200px;
  position: absolute;
  left: 32%;
  top: 25%;
  z-index: 1;
  border: 5px solid #e47800;
}


article div:last-of-type {
  display: flex;
  flex-direction: column;
}

.buy {
  font-family: Comfortaa, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;

  color: black;
  background-color: #82af69;

  width: 200px;
  padding: 15px 20px 15px 20px;
  transition: 0.2s;
}

.buy:hover {
  background-color: #556f5b;
  color: #fbfbf3;
}

.back {
  font-family: Comfortaa, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;

  color: #e47800;

  margin-top: 20px;
}